body {
  margin: 0;
  background: #fff;
  font-family: sans-serif;
}

.invitation {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
}

.invitation img {
  width: 100%;
  display: block;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* Ajustes iniciales (vas a moverlos) */
.music {
  top: 22%;
  width: 40%;
  height: 40px;
}

.rsvp {
  top: 38%;
  width: 50%;
  height: 45px;
}

.ceremonia {
  top: 58%;
  width: 55%;
  height: 45px;
}

.recepcion {
  top: 64%;
  width: 55%;
  height: 45px;
}